*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-image: linear-gradient(90deg, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    font-family: 'Poppins', sans-serif;
    min-width: 100vh;
}
body header h1{
    color: #f884a1;
}
header
{
    font-size: 1.5rem;
}
header,
form
{ 
    min-height: 20vh;    
    display: flex;
    justify-content: center;
    align-items: center;

}

form input,
form button
{
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 500;
    border: none;
    background: #FECFEF;
    color: #7F72A5;
    text-align: center;
}
form button
{
    color: #F08DAE;
    background: #FECFEF;
    cursor: pointer;
    transition: all 0.3s ease;

}
form button:hover
{
    background: #F08DAE;
    color:#FECFEF;
}
.todo-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list
{
    min-width: 30%;
    list-style: none;
}
.todo
{
    margin: 0.5rem;
    background: #FECFEF;
    text-align: center;
    color: #7F72A5;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 500ms ease;    
}
.todo li
{
    flex: 1;
}
.trash-btn, .complete-btn
{
    background: #9e5f8d;
    color: rgb(231, 230, 230);
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
        
}
.complete-btn
{
    background: #F08DAE;
}
.complete-btn:hover
{
    background: #e97da1;
}
.trash-btn:hover
{
    background: #8f527f;
}
.todo-item
{
    padding: 0rem 0.5rem;
}
.fa-trash, .fa-check
{
    pointer-events: none;
}
.completed
{
    text-decoration: line-through;
    opacity: 0.5;
}
.fall
{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     outline: none;
     border: none;
}
.select
{
    margin: 1rem;
    position: relative;
    overflow: hidden;    
}
select 
{
    color: #F08DAE;
    background: #FECFEF;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after
{
    content: "\25BC";
    position: absolute;
    background: #FECFEF;
    color: #F08DAE;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.4s ease;
}

.select:hover::after
{
    background: #F08DAE;
    color: #FECFEF;
}
select option
{
    font-size: 17px;
}
select {
    font-size:17px;
    padding-left: 6px;
    justify-content: center;
   }
